.hsm-template-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    width: 90%;
    height: 308px;
    top: 497px;
    background: #000000;
    border-radius: 2px;
    top: -13rem;
    left: 1.5rem;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    .hsm-template-results{
        .hsm-item-container{
          padding:1rem; 
          cursor: pointer; 
          &:hover{
           background: #383838;
          }
        }
        h1,h2{
            color: #FFFFFF;
            
        }
        h1{
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
        }
        h2{
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }
    }
}
.searchbar{
    .input{
        width: 446px;
        height: 42px;
        background: #202020;
        border: 1px solid #767676;
        border-radius: 6px;
    }
}

.control.has-icons-left{
    margin: 19px 16px 8px 16px !important;
    border: 1px solid #767676;
    border-radius: 5px;

    .icon{
        color: #767676;
    }
    
    #search-input{
        padding: 8px;
        border: none;
        position: relative;
        left: 30px;
        color: #767676;
        outline: none;
    }

    
}
